<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../CSS/design.css">
    <script src = "../JS/switch.js" defer></script>
    <script src = "../JS/todo.js" defer></script>
    <title>ToDo list</title>
  </head>

  <body>
    <div class="contents">
        <div class="header">
            <button class="head tab_work active" id="tabWork" data-target="work-list">Work</button>
            <button class="head tab_life" id="tabLife" data-target="life-list">Life</button>
            <button class="head tab_hobby" id="tabHobby" data-target="hobby-list">Hobby</button>
        </div>

        <div class="main">
          <div class="add_list">
            <input type="text" placeholder="add your task and push the enter" id="add_task">
          </div>

          <div class="main_list">
            <div class="category work-list active" data-type="work">
              <ul class="todo_lists">
                <!--
                <li class="task">
                  <div class="task_area">
                    <div class="task_group">
                      <button class="del">✔︎</button>
                      <span class="task_text">ttttttttttt</span>
                    </div>
                    <div class="sub_task_group">
                      <button class="group">+</button>
                      //<button class="toggle_btn">▼</button>
                    </div>   
                  </div>
                               
                  /* sub task area hidden*/  
                  <div class="subtask_area">
                    <div class="add_subtask">
                      <input type="text" name="subtask_input" placeholder="add your subtask and push the enter" class="input_subtask">
                    </div>
                    
                    <ul class="subtask_lists">
                      <li class="subtask">
                        <button class="del">✔︎</button>
                        <span class="subtask_text">ttttttttttt</span>
                      </li>
                    </ul>
                  </div>
                </li>
                -->
              </ul>
            </div>


            <div class="category life-list" data-type="life">
              <ul class="todo_lists"></ul>
            </div>

            <div class="category hobby-list" data-type="hobby">
              <ul class="todo_lists"></ul>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>